body {
  font-family: Arial, sans-serif;
  max-width: 700px;
  margin: auto;
  padding: 10px;
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
}

h3 {
  margin-top: 20px;
}

.product {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}

.overview-box {
  background: #f4f4f4;
  padding: 10px;
  margin: 10px 0;
}
