body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: auto;
  padding: 10px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

li {
  background: #eee;
  margin: 5px 0;
  padding: 8px;
}
